mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.login-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 60%;
}
