.full-width-table {
  width: 100%;
  margin: 0 auto;
}

.fab {
  align-items: flex-end;
  margin-top: 10px;
}

.mat-form-field {
  width: 500px;

}

.mat-dialog-content {
  margin: 0 auto;
}

.mat-icon {
  font-size: 1.75em;
}

.mat-paginator {
  height: 30px;
  margin-bottom: 20px;
}
